.navbar {
  background-color: #770D06;
}

.navbar-button {
  background-color: #FFFFFF;
  color: #770D06;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-weight: bold;
}

.logo {
  width: 42px;
}

.banner-image {
  width: 100%;
  /* opacity: 0; */
}

.banner {
  /* background-image: url('../public/banner.png');
  background-size: contain; */
}

.proposal-item:hover {
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.governance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
}

.eligibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.eligibility h2 {
  color: #FFFFFF;
}

.eligibility-paragraph {
  width: 50vw;
  color: #E0E0E0;
}

.email-input button {
  color: #FFFFFF;
  background-color: #770D06;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-weight: bold;
  margin: 0px -3px;
}

.email-input input {
  border: 1.11px solid #40403E;
  border-radius: 5px;
  padding: 12px;
  width: 40vw;
  background: transparent;
  color: white;
}

.option-input input {
  border: 1.11px solid #40403E;
  border-radius: 5px;
  padding: 12px;
}

.MessageProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  margin: -15px;
  height: 50%;
}

.barCompleted {
  background-color: #30BE83;
  width: 80%;
  border-radius: 5px;
}

.progress-container {
  background-color: #30be837d;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  padding: 0px 14px;
}

.voting-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-input textarea {
  border: 1.11px solid #40403E;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  height: 30vh;
  background: transparent !important;
  color: #E0E0E0;
}

.proposal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  /* background-image: radial-gradient(#760D07,black);
   */

  background-image: url('../public/home.png');
  /* background-color: black; */
  color: #FFFFFF;
}

.text-executed {
  color: #30BE83;
  font-weight: 500;
  font-size: 14px;
}

.text-canceled {
  color: #CC333C !important;
}

.button-passed {
  border: 1px solid #30BE83;
  background: #30be552e;
  border-radius: 5px;
  color: #30BE83 !important;
  padding: 1px 13px;
  font-weight: 500;
  font-size: 13px;
  margin-right: 8px;
}

.button-core {
  border: 1px solid #9542FF;
  background: #9930be36;
  border-radius: 5px;
  color: #9542FF !important;
  padding: 1px 13px;
  font-weight: 500;
  font-size: 13px;
  margin-right: 8px;
}

.button-core img {
  margin: 0px 7px 4px 0px;
  width: 12px;
}

.button-vote {
  border: 1px solid #FFFFFF;
  background: #8080805e;
  border-radius: 5px;
  color: #FFFFFF !important;
  padding: 1px 13px;
  font-weight: 500;
  font-size: 13px;
  margin-right: 8px;
}

.button-failed {
  border: 1px solid #CC333C;
  background: #cc333c29;
  border-radius: 5px;
  color: #CC333C !important;
  padding: 1px 13px;
  font-weight: 500;
  font-size: 13px;
}

.proposal-detail {
  color: #8080805e;
  font-size: 20px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}

.proposal-text {
  font-weight: 700;
  font-size: 20px;
}

.date-time {
  color: #8080805e;
  font-weight: 500;
  font-size: 14px;
}

.pagination-right {
  float: right;

}

.pagination-item {
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  background: #8080805e !important;
}

.option-body {
  padding: 5px 0px;
}

.pagination-item.clicked {
  border: 1px solid #770D06 !important;
  background: #770d061f !important;
}

#extra-content {
  display: none;
}

#more-content {
  display: none;
}

.footer {
  display: flex !important;
  justify-content: center !important;
}

#myBtn {
  background-color: transparent !important;
  border: none;
  color: white;
  padding: 0px;
}

.content-text {
  color: #9A9A9A;
  font-size: 18px;
  text-align: justify;
}

.highlighted-text {
  color: white;
  font-size: 15px;
}

.down-arrowhead img {
  width: 18px;
}

/* .color {
  background-color: white !important ;
  color: pink !important;
} */
.link {
  padding: 20px 0px;
  color: #9A9A9A;
  font-size: 12px;
  border: none;
  background: transparent !important;
}

.symbol {
  font-weight: bolder;
  font-size: large;
}

.propoasl-title {
  background: transparent !important;
  color: #E0E0E0;
  width: 100%;
}

.option-container {
  /* border: 1px solid #120605; */
  background-color: #120605;
  border-radius: 10px;

}

.notification-container {
  margin-top: -20px;
}

.card-header {
  border-bottom: 1px solid #40403E;

}

.add-proposal-details {
  background-color: #120605;
  border-radius: 15px;
  color: #E0E0E0 !important;
}

.date-time-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-time-details-container input {
  width: 100%;
  background: transparent;
  color: white;
  border: 1px solid #40403E;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  margin: 5px 0px;
}

.snapshot-input {
  color: #0A7EEA !important;
}

.date-time-details label {
  font-size: smaller;

}

.proposal-detail-text {
  font-size: 28px;
  font-weight: 700;
}

.message-state {
  background-color: #120605 !important;
  border-radius: 15px;
}

.state {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.option-header {
  padding: 8px 14px 8px 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-option {
  background-color: #DF1E12 !important;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.against {
  background-color: black !important;
  border: none;
  border-radius: 7px;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.vote-for {
  background-color: #DF1E12 !important;
  border: none;
  border-radius: 5px;
  padding: 3px 31px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.vote-against {
  border: none;
  background-color: transparent;
  padding: 3px 31px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */